<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <link rel="stylesheet" href="{% static 'css/restaurant_dashboard.css' %}">
    <title>(1) Swiggy | DashBoard </title>

</head>


<body>
    <div class="main-container">

        <div class="container-head">
            <div class="container-heading">DASHBOARD</div>
            <div id="feedback-message">
            {%if server_feedback%}
            {{server_feedback}}
            {%endif%}
                 </div>
            <ul class="profile-wrapper">
                    <li>
                        <!-- user profile -->
                        <div class="profile">
                            <img src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                            <a href="http://swimbi.com" class="name">Random Username</a>

                            <!-- more menu -->
                            <ul class="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">Log out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
        </div>
        <!-- dashboard ccontainer ...-->
        <div class="dashboard-container">
            <!-- container left having option choice-->
            <div class="dashboard-menu scroll">
                <!-- <div class="owner-infomration">
                        <div class="owner-name">Vaibhav</div>
                        <div class="restaurant-name">Apna dhaba</div>
                        <div class="restaurant-address">xyz pin 1234 </div>
                    </div> -->

                <div class="menu-header">
                    NAVIGATION
                </div>

                <div id="choice-all-food-items" class="menu-item">
                    <div class="choice-headering">
                        Food Items

                    </div>
                    <div class="all-food scroll option">
                        <ul category_id="1">South Indian</ul>
                        <ul category_id="2">North Indian</ul>
                        <ul category_id="3">Spicy</ul>

                           <ul category_id="4">South US</ul>
                        <ul category_id="5">North US</ul>
                        <ul category_id="6">Spicy US</ul>
                          </div>
                </div>
                <div id="choice-add-food-items" class="menu-item">
                    <div class="choice-headering">
                        Add Food

                    </div>
                    <div class="add-food scroll option">
                        <ul>Add</ul>

                    </div>
                </div>

                <div id="choice-notification" class="menu-item">
                    <div class="choice-headering">
                        Notification

                    </div>
                    <div class="add-food scroll option">
                        <ul>Pending Order</ul>

                    </div>
                </div>
            </div>
            <!-- container right respective menu-->
            <div class="dashboard-menu-item">
                <div id="all-food-items" >
                    <!--  -->
                  <div class="container item-list scroll" id="food-item-container">

                  </div>
                    <!--  -->
                </div>
                <!-- add Food item -->
                <div id="add-food-items" class="item-list scroll">

                    <div class="food-item-form">
                            <form method="post"   action="add-food-item"  enctype=multipart/form-data>
                                            {% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

</script>


                                <div id="food-item-name">
                                        <div class="text-input">
                                                <input type="text" id="input1" placeholder="Try typing something in here!" required="" name="food_name">
                                                <label for="input1">Food Name</label>
                                              </div>
                                </div>

                                <div id="food-item-cost">
                                        <div class="text-input">
                                                <input type="number" id="input2" placeholder="Try typing something in here!" required="" name="food_cost">
                                                <label for="input1">Food Cost</label>
                                              </div>
                                </div>

                                <div id="food-item-desc">
                                        <div class="text-input">
                                                <input type="text" id="input3" placeholder="Try typing something in here!" required="" name="food_desc">
                                                <label for="input1">Food desc</label>
                                              </div>
                                </div>

                                <div id="food-item-time">
                                        <div class="text-input">
                                                <input type="number" id="input4" placeholder="Try typing something in here!" required="" name="food_time">
                                                <label for="input1">Preparing Time</label>
                                              </div>
                                </div>



                                <div class="food-category">
                                    <select name="food_category">
                                        <option value="0">South Indian</option>
                                        <option value="1">North Indian</option>
                                        <option value="2">East Indian</option>
                                        <option value="3">Spicy</option>
                                    </select>
                                </div>
                                <input type=file name=myfile>
                                 <input type=submit>
                            </form>
                    </div>
                    <div class="food-items-added">

                    </div>
                </div>
                <!--  -->
                <!--item main container end  -->
            </div>
        </div>
        <!-- dashboard container end.. -->

        <!--  -->
    </div>
<script src="{% static 'js/restaurant_dashboard.js' %}"></script>
</body>

</html>