<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="icon" type="image/ico" href="{% static 'img/icon.png' %}" />
      <link rel="stylesheet" href="{% static 'css/restaurant_dashboard.css' %}">
    <title> Swiggy | DashBoard </title>

</head>


<body>


    <div class="main-container">
        
        <div class="container-head">
<div class="left-up">
                <div class="left-container-logo">
                        <img src="{% static 'img/icon.png' %}" alt="">
                <span>SWIGGY</span>
                    </div>


           </div>
            <div class="container-heading">DASHBOARD</div>
            <div id="feedback-message">
            {%if server_feedback%}
            {{server_feedback}}
            {%endif%}
                 </div>
            <ul class="profile-wrapper">
                    <li>
                        <!-- user profile -->
                        <div class="profile">
                            <img src="{{user.restaurant.img_path}}" />
                            {%if user.is_authenticated%}
                            <a href="http://swimbi.com" class="name">{{user.username}}</a>
                            {%else%}
                                                        <a href="http://swimbi.com" class="name">User</a>
                            {%endif%}
                            <!-- more menu -->
                            <ul class="menu">
<!--                                <li><a href="#">Edit</a></li>-->
                                <li><a href="#">{{user.restaurant.restaurant_name}}</a></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
        </div>
        <!-- dashboard ccontainer ...-->
        <div class="dashboard-container">
            <!-- container left having option choice-->
            <div class="dashboard-menu scroll">
                <!-- <div class="owner-infomration">
                        <div class="owner-name">Vaibhav</div>
                        <div class="restaurant-name">Apna dhaba</div>
                        <div class="restaurant-address">xyz pin 1234 </div>
                    </div> -->

                <div class="menu-header">
                    NAVIGATION
                </div>

                <div id="choice-all-food-items" class="menu-item">
                    <div class="choice-headering">
                        Food Items

                    </div>
                    <div class="all-food scroll option">
                         <ul category_id="all">All</ul>
                        {% for cat in categories %}


                        <ul category_id="{{cat.0}}">{{cat.1}}</ul>

                        {%endfor%}
                          </div>
                </div>
                <div id="choice-add-food-items" class="menu-item">
                    <div class="choice-headering">
                        Add Food

                    </div>
                    <div class="add-food scroll option">
                        <ul>Add</ul>

                    </div>
                </div>

                <div id="choice-notification" class="menu-item">
                    <div class="choice-headering">
                        Notification

                    </div>
                    <div class="add-order-item scroll option">


                    </div>
                </div>
            </div>
            <!-- container right respective menu-->
            <div class="dashboard-menu-item">
                <div id="all-food-items" >
                    <!--  -->
                  <div class="container item-list scroll" id="food-item-container">

                  </div>
                    <!--  -->
                </div>

                 <div id="view-food-items" >
                    <!--  -->
                  {%block view-food%}

                     {%endblock%}
                    <!--  -->
                </div>
                <!-- add Food item -->
                <div id="add-food-items" class="item-list scroll">

                    <div class="food-item-form">
                            <form method="post"   action="add-food-item"  enctype=multipart/form-data>
                                            {% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

</script>


                                <div id="food-item-name">
                                        <div class="text-input">
                                                <input type="text" id="input1" placeholder="Try typing something in here!" required="" name="food_name">
                                                <label for="input1">Food Name</label>
                                              </div>
                                </div>

                                <div id="food-item-cost">
                                        <div class="text-input">
                                                <input type="number" id="input2" placeholder="Try typing something in here!" required="" name="food_cost">
                                                <label for="input1">Food Cost</label>
                                              </div>
                                </div>

                                <div id="food-item-desc">
                                        <div class="text-input">
                                                <input type="text" id="input3" placeholder="Try typing something in here!" required="" name="food_desc">
                                                <label for="input1">Food desc</label>
                                              </div>
                                </div>

                                <div id="food-item-time">
                                        <div class="text-input">
                                                <input type="number" id="input4" placeholder="Try typing something in here!" required="" name="food_time">
                                                <label for="input1">Preparing Time</label>
                                              </div>
                                </div>



                                <div class="food-category">
                                    <select name="food_category">
                                            {% for cat in categories %}
                                        <option value="{{cat.0}}">{{cat.1}}</option>
                                          {%endfor%}
                                    </select>
                                </div>
                                <input type=file name=myfile>
                                 <input type=submit>
                            </form>
                    </div>
                    <div class="food-items-added">

                    </div>
                </div>
                 <div class="item-list scroll" id="order-item-detail-container">
                    <!--  -->
               <div id="ordered-item-data-container">

               </div>
                 </div>
                <!--  -->
                <!--item main container end  -->
            </div>
        </div>
        <!-- dashboard container end.. -->

        <!--  -->
    </div>

<script src="{% static 'js/restaurant_dashboard.js' %}"></script>
    <script src="{% static 'js/restaurant_dashboard2.js' %}"></script>
<script >
var restaurantId=1;
    {%if user.is_authenticated%}
  restaurantId={{user.restaurant.pk}}

{%endif%}

fetch('/dashboard/food-items/'+restaurantId).then(function(response) {
	// Convert to JSON
	return response.json();
}).then(function(j) {

	  foodItems=j;
});

  </script>
<script type="text/javascript">

    {%if user.is_authenticated%}
  restaurantId={{user.restaurant.pk}}

{%endif%}
fetchStatus();
var foodOrderItems=[]
function fetchStatus()
{
fetch('/dashboard/pending-order/'+restaurantId).then(function(response) {
	// Convert to JSON
	return response.json();
}).then(function(j) {

	  foodOrderItems=Array.from(j); ;

	  generateListOfNotification();

});
setTimeout(function () {

                   fetchStatus();
               }, 30000);

}

</script>
</body>

</html>