{% extends 'delivery_base.html' %}
{% load  staticfiles %}

{% block content %}
<h4 class="orange-text text-darken-2">Your Orders</h4>
<h5>Active Order</h5>
{% if active_order is not None %}
<a href="{% url 'order_detail' pk=active_order.id %}">
    <div class="container">
        <h6>New Order</h6>
        <p>Ordered By: {{ active_order.customer.username }}</p>
        <p>Order From: {{ active_order.restaurant.restaurant_name }}</p>
        <p>Cost: {{ active_order.total_cost }}</p>
    </div>
</a>
{% endif %}
<h5>Completed Orders</h5>
{% for order in completed_orders %}
<a href="{% url 'order_detail' pk=order.id %}">
    <div class="container">
        <p>Order By: {{ order.customer.username }}</p>
        <p>Order From: {{ order.restaurant.restaurant_name }}</p>
        <p>Cost: {{ order.total_cost }}</p>
    </div>
</a>
{% endfor %}
<script type="text/javascript">
    $(document).ready(function(){
        getLocation();
        orders();
    }
    );

    function orders() {
        $.ajax({
            type: "GET",
            url: "/delivery/dashboard/{{pk}}",
            success: function (data) {
                setTimeout(function () {
                    orders();
                }, 1000);
            }
        })
    }
    var x = document.getElementById("location");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        console.log(position.coords.latitude, position.coords.longitude);
        sendLocation(position.coords.latitude, position.coords.longitude);
    }

    function sendLocation(x, y) {
        $.ajax({
            type: "POST",
            url: "/get_location/{{pk}}",
            data: {
                'lat': x,
                'lng': y
            },
            success: function () {
                setTimeout(function () {
                    getLocation();
                }, 1000);
            }
        })
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRzUk-5Ak_cTp2DegKbe_b8i79Dewxc6Y&callback=initMap" async
    defer></script>
{% endblock %}