{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Swiggy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="https://seeklogo.com/images/S/swiggy-logo-8EF8260FA4-seeklogo.com.png"></a>
          </div>
          
         
          <ul class="nav navbar-nav">
            <li><a href="{% url 'location' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
         
        </div>
      </nav> 
      <!-- <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">Javascript</a></li>
              <li><a href="mobile.html">Mobile</a></li>
            </ul>
          </div>
        </nav>
      
        <ul class="sidenav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul> -->
      {% block content %}
      {% endblock %}
</body>
<style>
  .navbar{
    padding-top:1em;
    background-color:white;
    border:none;
    margin-right:2em;
    margin-left:2em;
  }
  .navbar .navbar-brand img{
  width:2em;
margin-top:-1em;
  }
  .nav{
    display:flex;
    justify-content:space-between;
  }
</style>
</html>
