
{% extends 'homepage_base.html' %}
{%block left_container%}

                    <div class="left-container-extra">
                            <h1>
                                    <div  >Game night?</div>
                                    <div >Late night at office?</div>
                                </h1>
                                <h2>Order food from favourite restaurants near you.</h2>
                    </div>
{%endblock%}