
{% extends 'homepage_base.html' %}
{%block left_container%}
   <div class="left-container-extra">
        {% csrf_token %}
 <form method="post"    enctype=multipart/form-data>
                                            {% csrf_token %}
         {% csrf_token %}
  {% load crispy_forms_tags %}
   {{ form|crispy }}
        <input type=file name=myfile>
      {% csrf_token %}
                                   <button type="submit" class="btn btn-primary">Login</button>
 </form>
   </div>

        {%endblock%}